/*
Fonts - Language
Thasadith - English
KleeOne - Korean
NanumGothich - Japanese
*/

/* @font-face {
    font-family: 'myWebFont';
    src: url('webfont.eot'); /* IE9 Compat Modes */
/*    src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
/*         url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
/*         url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
/*        url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
/*         url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */

.container{
    width: 100%;
    height: 100vh;
    background: #323c55;
    position: relative;
    overflow: hidden;
}

.menu-icon{
    width: 35px;
    position: absolute;
    top: 5%;
    right: 10%;
    cursor: pointer;
}

.menu-box{
    width: 80%;
    background: #5d81e4;
    position: absolute;
    top: 17%;
    left: 10%;
    padding: 50px 100px;
}

.right-links{
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    align-items: center;
}

.right-links img{
    width: 50px;
    margin-left: 20px;
    cursor: pointer;
}

.right-links a{
    text-decoration: none;
    color: #fff;
    background: #ff9064; 
    padding: 15px 40px; 
    border-radius: 30px;
}

.menu-links a{
    text-decoration: none;
    color:#323c55;
    display: block;
    width: fit-content;
    margin: 30px 0;
    font-size: 16px;
}

@font-face {
    font-family: 'Thasadith', Fallback, sans-serif;
    src: url(https://github.com/google/fonts/raw/main/ofl/thasadith/Thasadith-Regular.ttf) format('truetype');
    src: url(https://github.com/vvnlee/vvnlee.github.io/raw/main/fonts/Thasadith-Regular.woff2) format('woff2'); /* Super Modern Browsers */
    src: url(https://github.com/vvnlee/vvnlee.github.io/raw/main/fonts/Thasadith-Regular.woff) format('woff'); /* Pretty Modern Browsers */
    /* 
   src: url(https://github.com/vvnlee/vvnlee.github.io/blob/main/fonts/Thasadith-Regular.ttf) format('truetype');
   */
}

h1{
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 4em;
}  
 
body {
    font-size: 1em;
    font-family: 'Thasadith', Fallback, sans-serif;
    background-color: #c4cfec;
   }

p{

font-family: 'Thasadith', Fallback, sans-serif;
font-size: 1em;
}

