/*
Fonts - Language
Thasadith - English
KleeOne - Korean
NanumGothich - Japanese
*/

/* @font-face {
    font-family: 'myWebFont';
    src: url('webfont.eot'); /* IE9 Compat Modes */
/*    src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
/*         url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
/*         url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
/*        url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
/*         url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */


@font-face {
    font-family: 'Thasadith', Fallback, sans-serif;
    src: url(https://github.com/google/fonts/raw/main/ofl/thasadith/Thasadith-Regular.ttf) format('truetype');
    src: url(https://github.com/vvnlee/vvnlee.github.io/raw/main/fonts/Thasadith-Regular.woff2) format('woff2'); /* Super Modern Browsers */
    src: url(https://github.com/vvnlee/vvnlee.github.io/raw/main/fonts/Thasadith-Regular.woff) format('woff'); /* Pretty Modern Browsers */
    /* 
   src: url(https://github.com/vvnlee/vvnlee.github.io/blob/main/fonts/Thasadith-Regular.ttf) format('truetype');
   */
}

h1{
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 4em;
}  
 
body {
    font-size: 1em;
    font-family: 'Thasadith', Fallback, sans-serif;
   }

p{

font-family: 'Thasadith', Fallback, sans-serif;
font-size: 1em;
}

